{{'style.css' | asset_url | stylesheet_tag}}
<html>
  <head>
    {{ content_for_header }}
  </head>
  <body>
    {% render 'header' %}
    <ul>
      {% for link in linklists['main-menu'].links %}
        {{ link.title | link_to: link.url }}
      {% endfor %}
    </ul>
    <ul>
      {% for link in linklists.blogs.links %}
        {{ link.title | link_to: link.url }}
      {% endfor %}
    </ul>

    {{ content_for_layout }}
  </body>
</html>
