{% schema %}
{
  "name": "Custom Button",
  "blocks": [
    {
      "name": "input block",
      "type": "input",
      "settings": [
        {
          "type": "text",
          "label": "input label",
          "id": "input_text",
          "default": "input label"
        },
        {
          "type": "text",
          "label": "input placeholder",
          "id": "input_placeholder",
          "default": "placeholder"
        },
        {
          "type": "select",
          "label": "input type",
          "id": "input_type",
          "options": [
            {
              "label": "text",
              "value": "text"
            },
            {
              "label": "password",
              "value": "password"
            }
          ]
        }
      ],
      "limit": 4
    }
  ],
  "presets": [
    {
      "name": "Default",
      "category": "Custom"
    }
  ]
}
{% endschema %}
<div>
  test
  {% comment %}
    <button
      style="
        background-color: {{ section.settings.button_color }};
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        padding: 10px 20px; /
      "
      onmouseover="this.style.backgroundColor='{{ section.settings.button_hover_color }}';"
      onmouseout="this.style.backgroundColor='{{ section.settings.button_color }}';"
    >
      {{ section.settings.button_text }}
    </button>
  {% endcomment %}
  {% for item in section.blocks %}
    {%- case item.type -%}
      {% when 'input' %}
        {{ item.settings.input_text }}
        <input type="{{ item.settings.input_type }}" placeholder="{{ item.settings.input_placeholder }}">
    {% endcase %}
  {% endfor %}
</div>
