{% form 'cart', cart %}
  <h1>cart</h1>
  {% if cart.empty? %}
    cart is empty !
  {% else %}
    {% for item in cart.items %}
      <div>{{ item.title }}</div>

      <img src="{{ item.image | imagr_url: width: 200 }}">

      <div>price{{ item.final_line_price | money }}</div>
      <input value="{{ item.quantity }}" name="updates[]">
      <a href="{{item.url_to_remove  }}">remove</a>
    {% endfor %}
    <p>Total:{{ cart.total_price | money }}</p>
    <button type="submit" name="update">update</button>
    <button type="submit" name="checkout">checkout</button>
  {% endif %}
{% endform %}
