<head>
  {{ 'index.css' | asset_url | stylesheet_tag }}
</head>
<h1>{{ collections.frontpage.title }}</h1>
{% for product in collections.frontpage.products %}
  <a href="{{ product.url }}">
    <h3>{{ product.title }}</h3>
    {% comment %} <img src="{{ product.featured_image | image_url }}"> {% endcomment %}
    {% comment %} {{ product.featured_image | image_url | image_tag }} {% endcomment %}
    <a>{{ product.price | money }}</a>
  </a>
{% endfor %}
ww
